venv
.env*
!.env.docker
config.yaml
config.yml
.idea
.vscode
.devcontainer
.cov*
cov*.xml
.pytest_cache
htmlcov
__pycache__
.DS_Store
tags
*.sw
*.swo
*.swp
*.vim
*.code-workspace
htmlcov
.coverage
*.pth
*.pkl
